<html>
	<head>
		<meta charst="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>&gt; galaxy</title>
		<link href="css/main.min.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>galaxy</h1>
			<aside>The galaxy awaits...</aside>
			<hr>
		</header>
		<main>
		<%= content %>
		</main>
		<footer>
			<span class="copyright">&copy; <% Time.now.year %> LordNature &mdash; <a href="https://github.com/LordNature/emerald">powered by emerald</span>
		</footer>
	</body>
</html>
